<!DOCTYPE html>
<html>
	<head>
		<meta charset='utf-8' />
		<link rel="stylesheet" href="https://npmcdn.com/flatpickr/dist/themes/dark.css">
		<script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
		<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
		<style>
			{% if settings.red_sundays %}
			.day-sunday {
				color: red !important;
			}

			.fc-col-header-cell.fc-day-sun {
   				color: red;
			}
			{% endif %}
		</style>
		<script src='https://cdn.jsdelivr.net/npm/fullcalendar@6.1.20/index.global.min.js'></script>
		<script>
			const task = {{ task | tojson if task else "null" }};
			const settings = {{ settings | tojson if settings else "null" }};

			const colorMap = {
				red: "#d63737",
				blue: "#429ebf",
				green: "#1caf48",
				yellow: "#adaf05",
			};

			function toLocalDateStr(date) {
				return date.getFullYear() + '-'
					+ String(date.getMonth() + 1).padStart(2, '0') + '-'
					+ String(date.getDate()).padStart(2, '0');
			}

			document.addEventListener('DOMContentLoaded', function() {
				var calendarEl = document.getElementById('calendar');

				var startDate = null;
				var endDate = null;
				
				var todayDate = new Date();
				todayDate.setHours(0,0,0,0);

				var markedDays = [];
				var hoursDisplay = [];
				var hoursColorMap = {};
				if (task) {
					startDate = new Date(task.start_date + "T00:00:00");
					endDate = new Date(task.end_date + "T00:00:00");

					for (const hour of Object.values(task.hours)) {
						markedDays.push(hour.date);
						hoursDisplay.push({
							title: `${hour.hours} Hour` + (hour.hours > 1 ? "s" : ""),
							date: hour.date,
							backgroundColor: hour.color ?
								(colorMap[hour.color] ? colorMap[hour.color] : colorMap.blue)
								: colorMap.blue,
							borderColor: "transparent",
						});
						hoursColorMap[hour.date] = hour.color;
					}
				}

				var calendar = new FullCalendar.Calendar(calendarEl, {
					initialView: 'dayGridMonth',
					timeZone: 'local',
					locale: settings ? settings.locale : "",
					firstDay: settings ? settings.first_day : 0,
					events: hoursDisplay,

					dateClick: function(info) {
						const date = info.date;
						date.setHours(0,0,0,0);

						if (date >= startDate && date <= endDate) {
							var mEditMark = document.getElementById("mEditMark");
							mEditMark.style.display = "block";

							var tDate  = mEditMark.querySelector('input[name="tDate"]');
							var tColor = mEditMark.querySelector('select[name="tColor"]');

							var color = hoursColorMap[info.dateStr];

							tDate.value = info.dateStr;
							tColor.value = color ? color : "blue";

							var cEditMark = mEditMark.getElementsByClassName("modal-close")[0];
							cEditMark.onclick = function() {
								mEditMark.style.display = "none";
							}
						}
					},
					dayCellClassNames(arg) {
						if (!task) return [];

						var classes = [];

						const date = arg.date;
						date.setHours(0,0,0,0);

						if (settings) {
							if (settings.red_sundays && date.getDay() === 0)
								classes.push("day-sunday");
						}

						const dateStr = toLocalDateStr(date);

						if (date >= startDate && date <= endDate) {
							if (date.getTime() == todayDate.getTime())
								classes.push("day-today");

							if (markedDays.includes(dateStr))
								classes.push("day-marked");
							else
								classes.push("day-future");

							return classes;
						}

						return classes;
					},
				});
				calendar.render();
			});
		</script>
		<title>Bunny Hours Tracker</title>
	</head>
	<body>
		<div class="content" align="center">
			{% if task %}
				<h1>{{ task.name }}</h1>
			{% endif %}
			<div id="calendar"></div>
			<br/>
			<h2><a class="redir" href="{{ url_for('route_index')}}">Go back</a></h2>
		</div>

		<div id="mEditMark" class="modal">
			<div class="modal-content">
				<span class="modal-close">&times;</span>
				<div class="modal-body" align="center">
					<h2>Mark add/edit</h2>
					<form method="POST" action="/mark">
						<div class="input-field">
							<label>Date: </label>
							<input name="tDate" type="date" readonly />
						</div>
						<div class="input-field">
							<label>Hours: </label>
							<input name="tHours" type="number" min="1" value="1" required />
						</div>
						<div class="input-field">
							<label>Color: </label>
							<select name="tColor">
								<option value="blue">Blue</option>
								<option value="red">Red</option>
								<option value="green">Green</option>
								<option value="yellow">Yellow</option>
							</select>
						</div>
						<div class="actions">
							<button formaction="/mark" name="tIndex" value="{{ taskIndex }}">Mark!</buton>
							<button class="button-unmark" formaction="/unmark" name="tIndex" value="{{ taskIndex }}">Unmark</buton>
						</div>
					</form>
				</div>
			</div>
		</div>
		<script>
			function initDatePicker(locale) {
				const script = document.createElement("script");
				script.src = `https://cdnjs.cloudflare.com/ajax/libs/flatpickr/4.6.13/l10n/${locale}.js`;
				script.onload = () => {
					flatpickr("input[type='date']", {
						locale: locale,
						allowInput: false,
						clickOpens: false
					});
				};
				script.onerror = () => {
					flatpickr("input[type='date']", {
						locale: "default",
						allowInput: false,
						clickOpens: false
					});
				};
				document.head.appendChild(script);
			}
			if (settings && settings.locale)
				initDatePicker(settings.locale);
		</script>
	</body>
</html>